---
import type { GetStaticPaths, InferGetStaticParamsType } from "astro";
import prisma from "root/prisma/db";
import { Prisma as PrismaTypes } from "@prisma/client";

export const getStaticPaths = (async () => {
  const races = await prisma.races.findMany({});
  return races.map((race) => {
    return { params: { year: race.year.toString() } };
  });
}) satisfies GetStaticPaths;

type Params = InferGetStaticParamsType<typeof getStaticPaths>;

const { year } = Astro.params as Params;

const races = await prisma.races.findMany({ where: { year: parseInt(year) } });
---

<ul>
  {
    races &&
      races.map((race) => (
        <ul>
          <li>
            <a>{race.name}</a>
          </li>
        </ul>
      ))
  }
</ul>
