---
import { PrismaClient, Prisma } from "@prisma/client";
const prisma = new PrismaClient();
const drivers = await prisma.drivers.findMany();
console.log(drivers);
---

<h1>Astro</h1>
{
  drivers &&
    drivers.map((driver) => {
      return <p><a href={`/${driver.driverRef}`}>{driver.forename}</a></p>;
    })
}
