---
import prisma from "@/prisma/db";

const years = await prisma.seasons.findMany();
---

<h1>Astro</h1>
{
  years &&
    years.map((year) => (
      <p>
        <a href={`/${year.year}`}>{year.year}</a>
      </p>
    ))
}
