---
import { PrismaClient, Prisma } from "@prisma/client";
const prisma = new PrismaClient();
const { driverId } = Astro.params;
const driver = await prisma.drivers.findFirst({
  where: { driverRef: driverId },
  //include: { car: true },
});
---

<div>
  <h1>Driver: {driver?.forename} {driver.surname}</h1>
  <h2>Car: {driver?.car?.name}</h2>
</div>
